body {
    margin: 0;
    background: radial-gradient(circle at top, #12395b, #071a2e);
    font-family: "Segoe UI", system-ui, sans-serif;
}

/* Wrapper */
.bi-wrapper {
    /*max-width: 1600px;*/
    margin: 40px auto;
    padding: 24px;
    color: #e5f3ff;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
}

/* Header */
.bi-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.bi-title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.bi-title h1 {
    font-size: 20px;
    font-weight: 600;
}

.dot {
    width: 14px;
    height: 14px;
    background: #38bdf8;
    border-radius: 50%;
    box-shadow: 0 0 12px #38bdf8;
}

.year-pill {
    background: linear-gradient(135deg, #0ea5e9, #2563eb);
    padding: 8px 16px;
    border-radius: 999px;
    font-weight: 600;
}

/* Description */
.bi-desc {
    text-align: center;
    margin-bottom: 24px;
}

.bi-desc h2 {
    margin: 0;
    font-size: 22px;
}

.bi-desc p {
    opacity: 0.8;
    margin-top: 6px;
}

/* Card */
.bi-card {
    background: #ffffff;
    border-radius: 18px;
    padding: 12px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, .15);
}

/* iframe */
.bi-card iframe {
    width: 100%;
    height: 760px;
    border: none;
    border-radius: 12px;
}

.menu {
    display: flex;
    gap: 12px;
}

.topbar .wrap {
    /*max-width: 1400px;*/
    margin: 0 auto;
    padding: 0 20px;
    /*flex-direction: column;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.menu li {
    list-style: none;
}

.menu li a {
    padding: 8px 14px;
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    border-radius: 999px;
    transition: 0.25s ease;
    border: 1px solid transparent;
}

.menu li a:hover {
    background: rgba(255, 255, 255, 0.14);
    border-color: rgba(255, 255, 255, 0.25);
}

/*.topbar {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    background: rgba(10, 20, 40, 0.7);*/
/*    backdrop-filter: blur(18px);*/
/*    padding: 18px 140px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    z-index: 999;*/
/*    border-bottom: 1px solid rgba(255, 255, 255, 0.08);*/
/*}*/
